ul{
    list-style-type: none;
}

.liUA{
    padding: 20px;
    background: #f6f6f6;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: auto;
    font-size: 20px;
    color: #555;
    cursor: pointer;
}

.liUA:hover {
    background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
}

.liUA:nth-child(even){
    padding: 20px;
    background: rgb(228, 229, 235);
}

.liUA span{
    display: block;
}